/* === range theme and appearance === */
.input-slider-1 {
	font-size: 1.5rem;
	width: 100%;
}

.input-slider-1 {
	color: #ef233c;
	--thumb-height: 0.7em;
	--track-height: 0.125em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #000;
	}

	html::before {
		background: radial-gradient(circle at center, #101112, #000);
	}

	.input-slider-1 {
		color: #f07167;
		--track-color: rgba(255, 255, 255, 0.1);
	}
}

/* === range commons === */
.input-slider-1 {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

.input-slider-1:active {
	cursor: grabbing;
}

.input-slider-1:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
.input-slider-1,
.input-slider-1::-webkit-slider-runnable-track,
.input-slider-1::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

.input-slider-1::-webkit-slider-runnable-track,
.input-slider-1::-webkit-slider-thumb {
	position: relative;
}

.input-slider-1::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

.input-slider-1:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

.input-slider-1:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

.input-slider-1::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

.input-slider-1:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
.input-slider-1,
.input-slider-1::-moz-range-track,
.input-slider-1::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

.input-slider-1::-moz-range-track,
.input-slider-1::-moz-range-thumb,
.input-slider-1::-moz-range-progress {
	background: #fff0;
}

.input-slider-1::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;
}

.input-slider-1:active::-moz-range-thumb {
	cursor: grabbing;
}

.input-slider-1::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

.input-slider-1::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

.input-slider-1::-moz-range-track,
.input-slider-1::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

.input-slider-1::-moz-range-thumb,
.input-slider-1::-moz-range-progress {
	filter: brightness(100%);
}

.input-slider-1:hover::-moz-range-thumb,
.input-slider-1:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

.input-slider-1:active::-moz-range-thumb,
.input-slider-1:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

.input-slider-1:disabled::-moz-range-thumb {
	cursor: not-allowed;
}

/*
	SLIDER_INPUT_2
*/
.input-slider-2 {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
	background: none;
}
.input-slider-2:focus {
  outline: none;
}
.input-slider-2::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f07167;
	;
  border-radius: 25px;
  border: 0px solid #111111;
}
.input-slider-2::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #111111;
  height: 15px;
  width: 25px;
  border-radius: 7px;
  background: #111111;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
.input-slider-2:focus::-webkit-slider-runnable-track {
  background: #f07167;
}
.input-slider-2::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #111111, 0px 0px 0px #0d0d0d;
  background: #f07167;
  border-radius: 25px;
  border: 0px solid #111111;
}
.input-slider-2::-moz-range-thumb {
  box-shadow: 0px 0px 0px #111111, 0px 0px 0px #0d0d0d;
  border: 0px solid #111111;
  height: 10px;
  width: 10px;
  background: #111111;
  cursor: pointer;
}
.input-slider-2::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
.input-slider-2::-ms-fill-lower {
  background: #f07167;
  border: 0px solid #111111;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #111111, 0px 0px 0px #0d0d0d;
}
.input-slider-2::-ms-fill-upper {
  background: #f07167;
  border: 0px solid #111111;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #111111, 0px 0px 0px #0d0d0d;
}
.input-slider-2::-ms-thumb {
  box-shadow: 0px 0px 0px #111111, 0px 0px 0px #0d0d0d;
  border: 0px solid #111111;
  height: 15px;
  width: 25px;
  border-radius: 7px;
  background: #111111;
  cursor: pointer;
}
.input-slider-2:focus::-ms-fill-lower {
  background: #f07167;
}
.input-slider-2:focus::-ms-fill-upper {
  background: #f07167;
}

/*
	SLIDER_INPUT_3
*/

.input-slider-3 {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
	background: none;
}
.input-slider-3:focus {
  outline: none;
}
.input-slider-3::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f07167;
	;
  border-radius: 25px;
  border: 0px solid #111111;
}
.input-slider-3::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #111111;
  height: 0px;
  width: 0px;
  border-radius: 7px;
  background: #111111;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
.input-slider-3:focus::-webkit-slider-runnable-track {
  background: #f07167;
}
.input-slider-3::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #111111, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 0.2);
  border: 0px solid #111111;
}
.input-slider-3::-moz-range-thumb {
  background: transparent;
	border: none;
  cursor: pointer;
}
.input-slider-3::-moz-range-progress {
	background: #f07167;
	height: 8px;
}
.input-slider-3::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
.input-slider-3::-ms-fill-lower {
  background: #f07167;
  border: 0px solid #111111;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #111111, 0px 0px 0px #0d0d0d;
}
.input-slider-3::-ms-fill-upper {
  background: #f07167;
  border: 0px solid #111111;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #111111, 0px 0px 0px #0d0d0d;
}
.input-slider-3::-ms-thumb {
  box-shadow: 0px 0px 0px #111111, 0px 0px 0px #0d0d0d;
  border: 0px solid #111111;
  height: 15px;
  width: 25px;
  border-radius: 7px;
  background: #111111;
  cursor: pointer;
}
.input-slider-3:focus::-ms-fill-lower {
  background: #f07167;
}
.input-slider-3:focus::-ms-fill-upper {
  background: #f07167;
}

/* TOOLTIPS */
.tooltip {
  bottom: 28px;
  left: 20px;
  position: relative;
  padding: 6px 12px;
  color: #fff;
  border: 2px solid #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
}
.tooltip:before {
  content: "";
  position: absolute;
  opacity: 1;
  pointer-events: none;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
  transition: all 0.3s ease;
  transition-delay: 1.2s;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}
.tooltip:after {
  text-transform: none;
  content: attr(data-tooltip);
  font-size: 14px;
  position: absolute;
  color: #fff;
  background: #282828;
  padding: 8px 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 200px;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  top: 0;
  border-radius: 4px;
  transform: translate3d(-50%, 0%, 0);
  transition: all 0.3s ease;
  transition-delay: 1.2s;
}
.tooltip:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.tooltip:hover:before, .tooltip:hover:after {
  opacity: 1;
}
.tooltip:hover:before {
  transform: translate3d(-50%, calc(-100% - 18px), 0);
}
.tooltip:hover:after {
  transform: translate3d(-50%, calc(-100% - 16px), 0);
}
